rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function estaAutenticado() {
      return request.auth != null;
    }

    // Identifica si el usuario tiene rol de Admin o Admin Master
    function esAdmin() {
      return get(/databases/$(database)/documents/Usuarios/$(request.auth.uid)).data.Rol == 'Fc2EHIBEFpE1pTE43esJ' ||
             get(/databases/$(database)/documents/Usuarios/$(request.auth.uid)).data.Rol == 'dBm7wWlsSk8FZgIX2X17';
    }

    // Regla Maestra Web Admin: Acceso total a toda la base de datos
    match /{document=**} {
      allow read, write: if estaAutenticado() && esAdmin();
    }

    // Reglas Específicas Mobile POS: Para empleados normales
    function tienePermiso(permisoRequerido) {
      return get(/databases/$(database)/documents/Usuarios/$(request.auth.uid)).data.permisos[permisoRequerido] == true;
    }

    match /Usuarios/{userId} {
      allow create, delete: if false; 
      allow read, update: if estaAutenticado() && request.auth.uid == userId;
    }

    match /Catalogos/configuracion {
      allow read: if estaAutenticado();
      allow write: if false; 
    }

    match /Inventario/{articuloId} {
      allow read: if estaAutenticado() && tienePermiso('Inventario - Ver datos');
      allow create, update: if estaAutenticado() && tienePermiso('Modificar Artículo - Modificar datos');
      
      match /lote/{loteId} {
        allow read: if estaAutenticado() && tienePermiso('Inventario - Ver datos');
        allow write: if estaAutenticado() && tienePermiso('Inventario - Crear dañados');
      }
    }

    match /Ventas/{ventaId} {
      allow read: if estaAutenticado() && tienePermiso('Ventas - Modificar ventas');
      allow create: if estaAutenticado() && tienePermiso('Ventas - Crear venta');
      allow delete, update: if false; 
    }

    match /Cierres/{cierreId} {
      allow read: if estaAutenticado() && tienePermiso('Cierre - Visualizar datos');
      allow create: if estaAutenticado() && tienePermiso('Cierre - Crear cierre del dia');
      allow update: if estaAutenticado() 
                    && tienePermiso('Cierre - Editar datos') 
                    && !resource.data.finalizado;
      allow delete: if false;
    }

    match /Roles/{rolId} {
      allow read, write: if false; 
    }
  }
}
